.page{
display: flex;
direction: row;
}
body {
background-color: #fac941;
color: #053D94;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 22px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px 10px;
  background-color:#76418F;
  
}
.content{
  display: flex;
flex-direction: row;
}

.name{
display: flex;
align-items: flex-start;
font-size: 40px;
color:#fac941;

}

.links{
display: flex ;
flex-direction: row;
margin-top: 19px;
}

a:link,a:visited{
  color: #FFFFFF;
  font-weight: bold;
  text-decoration:none;
  font-style: italic;
}

.link {
justify-content: space-evenly;
border-spacing: 3px;
margin: 0 20px;
}

img.photo{
  display:flex ;
  flex-direction: row;
  max-width: 25%;
  margin-bottom: 13px;
  vertical-align: middle;
}

.about.me{
display: flex;
  justify-content: center;
  flex-direction: column;
  width: 49%;
  text-align: right;
}

.divider{
text-align: center;
background-color:#76418F;
color:#fac941;
font-size: 35px;
width: auto;
height: auto;
font-weight:20
}

h1{
  font-size: 30px;
  text-align: center;
}

ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  list-style-position: inside;
}

button{
  display: flex;
  background-color: #76418F;
  color:#fac941;
  margin: auto;
  border-style: inset;
  vertical-align: middle;
  justify-content: space-evenly;
}

p{
  display: flex;
  flex-direction: row;
  width: 50%;
  text-align: center;
  vertical-align: middle ;
  font-size: 19px;
}

.middle{
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: space-evenly;
}
li{
  font-size: 19px;
  list-style-type: square;
  justify-content: space-evenly;
}